<f:layout name="Default" />
<f:section name="headline">
	<h1>Authenticator</h1>
</f:section>
<f:section name="content">
	<f:flashMessages/>
	<f:if condition="{user.txFwauthenticatorActive}">
	<f:then>
		<f:link.action action="deactivate" class="btn btn-default"><f:translate key="LLL:EXT:fw_authenticator/Resources/Private/Language/locallang_mod.xlf:Deactivate"/></f:link.action>
		<h2><f:translate key="LLL:EXT:fw_authenticator/Resources/Private/Language/locallang_mod.xlf:Secret"/></h2>
		<p><b>{user.txFwauthenticatorSecret}</b></p>
		<h2><f:translate key="LLL:EXT:fw_authenticator/Resources/Private/Language/locallang_mod.xlf:Setup"/></h2>
		<ul>
			<li><f:translate key="LLL:EXT:fw_authenticator/Resources/Private/Language/locallang_mod.xlf:Install"/></li>
			<li><f:translate key="LLL:EXT:fw_authenticator/Resources/Private/Language/locallang_mod.xlf:Scan"/><br><br>
			<img src="{qr}"/>

			</li>
			<li><f:translate key="LLL:EXT:fw_authenticator/Resources/Private/Language/locallang_mod.xlf:Done"/></li>
		</ul>
	</f:then>
	<f:else>
		<f:link.action action="activate" class="btn btn-default"><f:translate key="LLL:EXT:fw_authenticator/Resources/Private/Language/locallang_mod.xlf:Activate"/></f:link.action>
	</f:else>
	</f:if>
 </div>
</f:section>