.t3-defbuauthenticator-key {
    width: 16px;
    height: 16px;
    background-image: url('/typo3conf/ext/fw_authenticator/Resources/Public/Icons/icon.svg');
    background-repeat: no-repeat;
    display: block;
}

.t3js-login-defbuauthenticator-field {
    height: 41px;
}